* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  padding: 0 50px;
  color: #fff;
  background-color: black;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  margin-right: 16px;
  font-size: 25px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main .sub_title {
  text-align: center;
  font-size: 30px;
  width: 100%;
  margin: 45px 0;
}

main #paganti {
  display: flex;
  justify-content: center;
  width: 100%;
}

main #paganti h3 {
  margin-bottom: 25px;
}

main #paganti section {
  margin: 40px 40px 0 0;
}

main #paganti section ul {
  list-style-type: none;
  font-size: 20px;
}

main #paganti section ul li {
  margin-bottom: 8px;
}

main #pagamenti {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px 0;
}

main #pagamenti h1 {
  font-size: 30px;
  margin-bottom: 45px;
}

main #pagamenti ul {
  list-style-type: none;
  font-size: 20px;
}

main #pagamenti ul li {
  margin-bottom: 8px;
}

main #form {
  margin: 45px 0;
}

main #form h1 {
  font-size: 30px;
  margin-bottom: 45px;
}

main #form .form_group {
  margin: 20px 0;
}

